<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/formulario.css">
    <link rel="shortcut icon" href="images/formulario.svg" type="image/x-icon">
    <title>Formulário</title>
</head>
<body>
    <div class="cima">
        <div class="titulo-e-form">
            <form action="salvar" method="post" class="form-investimento">
                <input type="text" name="nome" placeholder="Nome" required>
                <select id="status" name="status" required>
                    <option value="DISPONÍVEL">Disponível</option>
                    <option value="INDISPONÍVEL">Indisponível</option>
                </select>
                <input type="text" name="destinacao" placeholder="Destinação" required>
                <input type="number" name="taxaAdministracao" placeholder="Taxa de administração" required>
                <input type="number" name="taxaRentabilidade" placeholder="Taxa de rentabilidade (1% - 20%)" required>
                <input type="number" name="prazo" placeholder="Prazo para realização (0 - 48 meses)" required>
                
                <label for="vencimento" class="date-label">Vencimento:</label>
                <input type="date" id="vencimento" name="vencimento" required>

                <input type="submit" value="Adicionar">
            </form>
        </div>
    </div>
</body>
</html>