<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/formulario.css">
    <link rel="shortcut icon" href="images/formulario.svg" type="image/x-icon">
    <title>Formulário</title>
</head>
<body>
    <div class="cima">
        <div class="titulo-e-form">
            <form action="salvar" method="post" class="form-investimento">
                <input type="text" name="nome" placeholder="Nome">
                <select id="status" name="status" required>
                    <option value="DISPONÍVEL">Disponível</option>
                        <option value="INDISPONÍVEL">Indisponível</option>
                 </select>
                <input type="text" name="destinacao" placeholder="Destinação">
                <input type="number" step="0.01" name="taxa-adm" placeholder="Taxa de administração">
                <input type="number" step="0.01" name="taxa-rent" placeholder="Taxa de rentabilidade (1% a 20%)">
                <input type="date" name="vencimento" ="Data de vencimento">

                <input type="submit" value="Adicionar">
            </form>
        </div>
    </div>
</body>
</html>