<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NestJS MVC</title>
</head>
<body>
    <img id="logo" src="images/nest-logo.svg" alt="NestJS Logo">

    <h1>Nello NestJS MVC</h1>

    <h2>Calcule seu IMC</h2>
    <a href="form-inc">Calcular meu IMC</a>
</body>
</html>