<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="shortcut icon" href="images/nestjs.svg" type="image/x-icon">
    <title>NestJS MVC</title>
</head>
<body>
    <img id="logo" src="images/nest-logo.svg" alt="NestJS Logo">

    <h1>Hello NestJS MVC</h1>

    <h2>Calcule seu IMC</h2>
    <a href="form-imc" class="link">Calcular meu IMC</a>
</body>
</html>