<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/investe.css">
    <link rel="shortcut icon" href="images/dollar-coin.svg" type="image/x-icon">
    <title>Investimento</title>
</head>
<body>
    <div class="cima">
        <div class="titulo-e-form">
            <h1>Painel de produtos de investimento renda fixa</h1>
            <form class="form-investimento" action="" method="">
                <input type="text" name="nome" placeholder="Nome">
                <input type="text" name="status" placeholder="Status (Disponível / Indisponível)">
                <input type="text" name="destinacao" placeholder="Destinação">
                <input type="number" name="taxa-rent" placeholder="Taxa de rentabilidade (1% a 20%)">
                <input type="number" name="prazo" placeholder="Prazo para realização (meses)">
                <input type="number" name="taxa-adm" placeholder="Taxa de administração">
                <div class="buttons-group">
                    <input type="submit" value="Adicionar">
                    <input type="submit" value="Listar">
                    <input type="submit" value="Remover">
                    <input type="submit" value="Mudar status">
                </div>
            </form>
        </div>

        <img src="images/neco-arc-gangnam-style.gif" alt="GIF Animado">
    </div>
</body>
</html>